@model EvidenceTest.Models.ViewModels.CustOrderVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var onSuccess = function (result) {
        if (result.url) {
            window.location = result.url;
        }
    }
</script>


<h2>Index</h2>


@using (Ajax.BeginForm("Index", "Customer", new AjaxOptions
{
    UpdateTargetId = "table-container",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "onSuccess",
    OnFailure = "createfail"
}))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CustomerOrder</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CutomerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CutomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CutomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.ItemID, (SelectList)ViewBag.ItemList, "Select Item", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.Imagepath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Imagepath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Imagepath, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Imagepath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="Imagepath" id="Imagepath" class="form-control" />
                @Html.ValidationMessageFor(model => model.Imagepath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.orderDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.orderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model=>model.OrderStatus, new SelectList(new[] {"Pending","Confirm"}))*@
                @Html.EditorFor(model => model.OrderStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @*            <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" name="ButtonType" />
                </div>*@
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success" name="ButtonType" />
            </div>

        </div>
    </div>
    <div class="col-sm-12">
        <div id="table-container">
            @Html.Partial("_PartialPage1")
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" name="ButtonType" />
            <input type="submit" value="Delete" class="btn btn-danger" name="ButtonType" />
        </div>
    </div>

}
<br />
<div>
    @* @Html.ActionLink("Back to List", "list")*@
    @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-info" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


