@model IEnumerable<EvidenceTest.Models.ViewModels.CustOrderVM>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<br/>
<p>
    @Html.ActionLink("Create New", "Index", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CutomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagepath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CutomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                <img src="/images/@item.Imagepath" alt="Customer Image" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }, new { onclick = "return confirm('Are you sure you want to delete this record?');", @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
